* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
nav h2 {
  padding: 0 2rem;
  font-size: 28px;
  color: #d63384;
  font-weight: bold;
}

.sub-nav {
  background-color: #d63384;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-nav a:link,
a:visited,
a:active {
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 8px 0;
  margin: 0 1.5rem;
}

footer {
  margin-top: 50px;
  width: 100%;
  height: 160px;
  background-color: black;
}
footer h1 {
  color: white;
}
.footer-ul {
  display: flex;
  flex-direction: row;
  color: white;
}

/* FIRST */
.cover {
  /* background-image: url("http://espanafascinante.com/test/images/01.png"); */
  background: linear-gradient(
    to top,
    rgba(0,0,0, 0),
    white
  ),url('http://espanafascinante.com/test/images/01.png');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 50px;
}
h4{
  margin-left: 20px;
}
h6{
  margin-left: 20px;
}
.author{
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.reading-time{
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
.line {
  border-right: 1px solid #000;
  margin: 0 5px;
  margin-left: 20px;
  font-weight: bold;
}
.align-category{
  margin-bottom: 13px;
}
.date{
  display: flex;
  flex-direction: row;
  color: white;
}
.align-cover{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}
.fb-img{
  margin-right: 5px;
}

/* SECOND */
.bottom-line{
  border-bottom: 0.5px solid #ab2a3e;
  width: 88%;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  color:#ab2a3e;
}
.top-line{
  border-top: 0.5px solid #ab2a3e;
  width: 88%;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  color:#ab2a3e;
  font-weight: bold;
}
.line-top{
  border-top: 0.5px solid grey;
}
.card{
  border: none !important;
}
.cards{
  display: flex;
  flex-direction: row;
  width: 86%;
}

.card p{
  margin-bottom: 4px;
}
.align-second{
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.bottom-line-card{
  border-bottom: 0.5px solid grey;
  width: 800%;
}
.title-card{
  font-weight: bold;
}
.bold{
  font-weight: bold;
  color:grey
}
.cat-sub-color{
  color: grey;
}

/* THIRD */

.date3-align{
  display: flex;
  flex-direction: row;
}
.icons-third{
  display: flex;
  justify-content: flex-end;
}