* {
  margin: 0;
  padding: 0;
}

nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  margin-top: 10px;
}
nav h2 {
  font-size: 28px;
  color: #ab2a3e;
  font-weight: bold;
}

.sub-nav {
  background-color: #ab2a3e;
  display: flex;
  /* align-items: center; */
  justify-content: space-around;
}

.sub-nav a:link,
a:visited,
a:active {
  text-decoration: none;
  font-size: 14px;
  color: white;
  padding: 8px 0;
  margin: 0 1.5rem;
}

footer {
  width: 100%;
  height: 230px;
  background-color: black;
}
footer h1 {
  color: white;
  margin-left: 30px;
  padding: 24px 0;
}
footer h5 {
  margin-left: 30px;
}
.footer-ul {
  display: flex;
  flex-direction: row;
  color: white;
}

footer p {
  margin-left: 30px;
  color: grey;
}

/* FIRST */
.cover {
  background: linear-gradient(to top, rgba(0, 0, 0, 0), white),
    url("http://espanafascinante.com/test/images/01.png");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin-top: 30px;
}
h4 {
  margin-left: 20px;
}
h6 {
  margin-left: 20px;
}
.author {
  margin-left: 20px;
  color: white;
  font-weight: bold;
}
.reading-time {
  color: white;
  font-weight: bold;
  margin-left: 5px;
}
.line {
  border-right: 1px solid #000;
  margin: 0 5px;
  margin-left: 20px;
}
.align-category {
  margin-bottom: 13px;
  color: grey;
}
.date {
  display: flex;
  flex-direction: row;
  color: white;
}
.align-cover {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 20px;
}
.fb-img {
  margin-right: 5px;
}

/* SECOND */
.bottom-line {
  border-bottom: 0.5px solid #ab2a3e;
  width: 88%;
  margin-left: 20px;
  margin-top: 15px;
  font-weight: bold;
  color: #ab2a3e;
}
.top-line {
  border-top: 0.5px solid #ab2a3e;
  width: 88%;
  margin-left: 20px;
  margin-top: 10px;
  display: flex;
  justify-content: flex-end;
  color: #ab2a3e;
  font-weight: bold;
}
.line-top {
  border-top: 0.5px solid grey;
}
.card {
  border: none !important;
}
.cards {
  display: flex;
  flex-direction: row;
  width: 86%;
  margin: 10px 0;
}

.card p {
  margin-bottom: 4px;
}
.align-second {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
}
.bottom-line-card {
  border-bottom: 0.5px solid grey;
  width: 800%;
}
.title-card {
  font-weight: bold;
}
.bold {
  font-weight: 900;
  color: grey;
  font-size: 11px;
}
.font-size {
  font-size: 11px;
}
.cat-sub-color {
  color: grey;
  padding-bottom: 10px;
  line-height: 0;
}
.cat-color {
  color: grey;
}

/* THIRD */

.date3-align {
  display: flex;
  flex-direction: row;
}
.icons-third {
  display: flex;
  justify-content: flex-end;
}
.width-third-card {
  margin-left: 2.5rem;
  width: 80%;
}
.card-body {
  padding: 0 !important;
}
.cat-sub-color {
  color: grey;
}
.align-fafa {
  display: flex;
  justify-content: space-between;
  margin-bottom: 50px;
}
.font-title-third {
  font-size: 24px;
  line-height: 30px;
}

.image-third {
  height: 160px;
}
/* FIRSTQ */

.cover1 {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 70px;
}
.align-cover1 {
  display: flex;
  flex-direction: row;
}
.margin-img {
  width: 60rem;
  margin-right: 4.188rem;
  margin-top: 30px;
}
.author-query {
  margin-left: 20px;
  font-weight: bold;
}
.reading-time-query {
  font-weight: bold;
  margin-left: 5px;
}
.align-data-query {
  display: flex;
  flex-direction: row;
}


/* 
MEDIAQUERYS */

@media screen and (max-width: 800px) {
  .hidden {
    display: none;
  }
}
@media screen and (min-width: 800px) {
  .hidden-first {
    display: none;
  }
  
}
@media screen and (min-width: 650px) {
  .align-third {
    display: flex;
    flex-direction: row;
  }
  .body {
    margin-left: 2.5rem;
  }
  
}




@media screen and (min-width: 800px) {
  
  .width-third-card {
    width: 85%;
  }
  .image-third {
    height: 350px;
  }
  .top-line {
    width: 94%;
  }
  .bottom-line {
    width: 94%;
  }
 
  .body {
    margin-left: 2.5rem;
  }
  .query-fafa{
    margin-top: 10px;
  }
  .align-fafa{
    margin-top: 15px;
  }
}
@media screen and (min-width: 800px) {
  .margin-img {
    width: 25rem;
  }
}
@media screen and (min-width: 1000px) {
  .margin-img {
    width: 30rem;
  }
}
@media screen and (min-width: 1100px) {
  .margin-img {
    width: 40rem;
  }
}
@media screen and (min-width: 1150px) {
  .margin-img {
    width: 50rem;
  }
}
@media screen and (min-width: 1200px) {
  .margin-img {
    width: 55rem;
  }
}
@media screen and (min-width: 1250px) {
  .margin-img {
    width: 60rem;
  }
}


